body {
    background: #456b87;
}

#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    overflow: auto;
    white-space: nowrap;
    text-align: center;
    font-size: 0;
    
}

#wrapper:before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: '';
}

#wrapper #auth {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;

    margin: auto;
    background: #FFF;
    border: 1px solid #63839E;
    color: #474747;
    font-family: sans;
    padding: 20px;
    font-size: 13px;
    max-width: 400px;
}   

#auth p{
    text-align: left;
}

#auth .link {
    text-align: right;
}

input:required{ 
    border: none;    
}

#wrapper input:not([type="radio"]) {
    width: 100%;
    margin-top: 4px;
    padding: 5px;
    border: 1px solid #b6b6b6;
}

#auth h1{
    font-size: 30px;
    color: #456b87;
    font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;

}

#auth h1:after{
    content: ' ';
    display: block;
    height: 1px;
    margin-top: 10px;
    background: #e7e7e7;
}

#ajax-signup {
    display: none;
}

#form-messages {
    color: #b30000;
}